# Основные библиотеки для работы с файлами
pypdf2>=3.0.0
PyMuPDF>=1.23.0          # библиотека для PDF (fitz)
python-docx>=1.0.0       # Для поддержки DOCX
pdfplumber>=0.11.0

# Для обработки текста
nltk>=3.8.0

# Для аудио/видео (транскрипция)
vosk>=0.3.45
pydub>=0.25.1

# Для удобного CLI интерфейса
click>=8.0.0

# Для тестирования
pytest>=7.0.0

sentence-transformers>=2.2.0